{% load i18n %}{% autoescape off %}
{% blocktranslate %}مرحباً،{% endblocktranslate %}

{% blocktranslate %}لقد تلقينا طلباً لاستعادة كلمة السر للحساب المرتبط بهذا البريد.{% endblocktranslate %}

{% blocktranslate %}اسم المستخدم الخاص بك او الايميل هذا لتسجيل الدخول : {{ user.username }}{% endblocktranslate %}

{% blocktranslate %}يرجى الانتقال إلى الرابط التالي واختيار كلمة سر جديدة:{% endblocktranslate %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate %}شكراً لاستخدامك مدونة الوافي!{% endblocktranslate %}
{% endautoescape %}
